<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Salary predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<style>
body {
  background-color: hsla(89, 43%, 51%, 0.3);
}
</style>
  
  
</head>

<body>
 <div class="login">
	<h1 style="background-color:powderblue;">Predict Diabetes</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="nmberpregnant" placeholder="NumberPregnant" required="required" /><br/><br/>
    	<input type="text" name="glucose" placeholder="Glucose" required="required" /><br/><br/>
    	<input type="text" name="bp" placeholder="BP" required="required" /><br/><br/>
    	<input type="text" name="triceps" placeholder="Triceps" required="required" /><br/><br/>
    	<input type="text" name="insulin" placeholder="Insulin" required="required" /><br/><br/>
    	<input type="text" name="bmi" placeholder="Bmi" required="required" /><br/><br/>
    	<input type="text" name="pedigree" placeholder="Pedigree" required="required" /><br/><br/>
    	<input type="text" name="age" placeholder="Age" required="required" /> <br/><br/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>